<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jamils_Good_Old_Fun_Family_Center.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Jamils_Good_Old_Fun_Family_Center.My.MySettings.EmployeeDataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\EmployeeData.accdb"
            providerName="System.Data.OleDb" />
        <add name="Jamils_Good_Old_Fun_Family_Center.My.MySettings.Jamils_Good_Old_FunConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|Jamils_Good_Old_Fun.accdb"
            providerName="System.Data.OleDb" />
        <add name="Jamils_Good_Old_Fun_Family_Center.My.MySettings.Jamils_Good_Old_FunConnection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;Jamils_Good_Old_Fun.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Jamils_Good_Old_Fun_Family_Center.My.MySettings>
            <setting name="Database" serializeAs="String">
                <value>"Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Jamils_Good_Old_Fun.accdb"</value>
            </setting>
        </Jamils_Good_Old_Fun_Family_Center.My.MySettings>
    </userSettings>
</configuration>